/* body {
    height: 100vh;
    text-align: center;
}

#main-grid {
    border: 1px solid black;
    margin: 0 auto;
}

tr, td {
    padding: 20px;
    border: 2px solid red;
    background: gray;
}

#clicked {
    background: lightgray;
}

#mine {
    background: red;
}

#hidden {
    display: none;
}

header {
    margin: 10px 10px;
    width: 100%;
} */

/* Static version */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: auto;
    text-align: center;
    border: 1px solid black; /* this goes away */
    background: dimgray;
}

header {
    font-family: 'Bungee Inline', cursive;
    margin: 3.22vh 1.66vh;
    width: 100%;
    font-size: 30px;
}

.emoji {
    margin: 10px;
    font-size: 30px;
}

table {
    margin: 0 auto;
    border-spacing: 0;
    border: 2px solid black;
}

tr, td {
    height: 7vmin;
    width: 7vmin;
    border: 2px solid black;
}

.bomb::before {
    content: '\1F4A3';
    font-size: 20px;
}

.flagged::before {
    content: '\02757';
}

#timer::before {
    content: '\231B';
    font-size: 20px;
}

button {
    margin-top: 5vh;
}

#m {
    color: #00ff00;
}

#i {
    color: #14ffff;
}

#n {
    color: #ff14ff;
}

#e {
    color: #ff7214;
}