@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bungee Inline', cursive;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    background:#202020;
    height: 100%;
}
header {
    margin: 15px auto;
    width: 50%;
    font-size: 30px;
    box-shadow: 5px 5px 5px 5px white;
    background: -webkit-linear-gradient(lightgray, #00FF99);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-ctr {
    width: 100%;
}

#main-grid {
    border: 2px solid black;
    margin: 0 auto;
    border-spacing: 0px;
}

#main-grid tr, td {
    background: darkgray;
    border: 2px solid #00FF99
}

td {
    height: 10vmin;
    width: 10vmin;
    border-radius: 5px solid black;
}

#emoji, .mine, .flagged {
    font-size: 30px;
}

#emoji {
    width: 100%;
    font-size: 50px;
    color: lightgray;
    margin-top: 5vmin;
    margin-bottom: 2vmin;
}

.unclicked {
    background: darkgray;
}

.clicked {
    background: lightgray;
}

.mine {
    background: red;
}

.input {
    color: lightgray;
    margin-left: 10px;
}

input[type='number'] {
    margin-top: 7vmin;
    width: 10%;
    outline: none;
    background: lightgray;
}

input[type='number']:focus {
    border-radius: 5px;
    border-color: #00FF99;
}

#submit {
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
    margin-top: 7vmin;
    background: -webkit-linear-gradient(#00FF99, lightgray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}